<div>
    <nav class="navbar navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Budget Tracker Server</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-right" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active">Overview <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link">Account</a>
                <a id="logoutButton" class="nav-item nav-link">Logout</a>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        <h2>Budgets</h2>
        <button class="btn btn-success" data-toggle="modal" data-target="#new-budget-modal">Create Budget</button>
        <div class="overview-budgets mt-3">
            Loading...
        </div>
    </div>

    <!-- Modals -->
    <div class="modal fade" id="new-budget-modal" tabindex="-1" role="dialog" aria-labelledby="new-budget-modal-title"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="new-budget-modal-title">Create Budget</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="new-budget-modal-form">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="budget-name" class="col-form-label">Name:</label>
                            <input type="text" class="form-control" id="budget-name">
                        </div>
                        <div class="form-group">
                            <label for="budget-spending-limit" class="col-form-label">Spending Limit:</label>
                            <input type="number" class="form-control" id="budget-spending-limit" value="500">
                        </div>
                        <div class="form-group">
                            <label for="budget-period-length" class="col-form-label">Period Length (days):</label>
                            <input type="number" class="form-control" id="budget-period-length" value="7">
                        </div>
                        <div class="form-group">
                            <label for="budget-start-date" class="col-form-label">Start Date:</label>
                            <input class="form-control" data-date-format="dd/mm/yyyy" id="budget-start-date"
                                data-date-end-date="0d">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <input type="submit" class="btn btn-primary" value="Create"></input>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    budgetCardTemplate = loadTemplate('budget-card');

    $('#budget-start-date').datepicker({
        weekStart: 1,
        autoclose: true,
        todayHighlight: true,
    });

    now = new Date();

    $('#budget-start-date').val(now.getDate() + '/' + (now.getMonth() + 1) + '/' + now.getFullYear());

    $("#logoutButton").on("click", () => {
        clearAccessTokenCookie();
        gotoView('login');
    });

    $("#new-budget-modal-form").on("submit", (e) => {
        e.preventDefault();

        let budgetName = $("#new-budget-modal-form #budget-name").val();
        let budgetSpendLimit = $("#new-budget-modal-form #budget-spending-limit").val();
        let budgetPeriodLength = $("#new-budget-modal-form #budget-period-length").val();

        let dateParts = $("#new-budget-modal-form #budget-start-date").val().split("/");

        let budgetStartDate = dateParts[2] + '-' + dateParts[1] + '-' + dateParts[0];

        createBudget(accessToken, budgetName, budgetSpendLimit, budgetPeriodLength, budgetStartDate).done((data) => {
            if (data.status == "Success") {
                displayToast("budget-create-success");
                reloadView();
                $("#new-budget-modal").modal('hide');
            } else {
                displayToast("budget-create-fail");
                $("#new-budget-modal").modal('hide');
            }
        });
    });

    // Get budgets
    getBudgets(accessToken).done((data) => {
        if (data.status == "Success") {
            $(".overview-budgets").html("Your budgets");
            for (let budget of data.budgets) {
                let card = $(budgetCardTemplate);

                card.find("#title").html(budget.name);

                getCurrentBudgetPeriod(accessToken, budget.budget_id).done((data) => {
                    if (data.status == "Success") {
                        let period = data.budget_period;
                        getBudgetSpent(accessToken, budget.budget_id, period.period_id).done((data) => {
                            let remaining = Number(budget.spend_limit - data.spent).toFixed(2);

                            let percent = (remaining / budget.spend_limit) * 100.0;

                            card.find("#subtitle").html(`$${remaining} funds remaining`);

                            setBar(card.find("#bar-progress"), percent);

                            card.on("click", () => {
                                window.location.hash = "transactions:" + budget.budget_id;
                            })

                            $(".overview-budgets").append(card);
                        });
                    }
                });


            }
        } else {

        }
    });
</script>