<div>
    <nav class="navbar navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Budget Tracker Server</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-right" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active">Overview <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link">Account</a>
                <a id="logoutButton" class="nav-item nav-link">Logout</a>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        <h2 id="title"></h2>
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-transactions-tab" data-toggle="pill" href="#pills-transactions"
                    role="tab" aria-controls="pills-transactions" aria-selected="true">Transactions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-share-tab" data-toggle="pill" href="#pills-share" role="tab"
                    aria-controls="pills-share" aria-selected="false">Shared With</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-options-tab" data-toggle="pill" href="#pills-options" role="tab"
                    aria-controls="pills-options" aria-selected="false">Options</a>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-transactions" role="tabpanel"
                aria-labelledby="pills-transactions-tab">
                <div id="transactions" class="transactions">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col mt-2" style="min-width: 4.5cm;">
                                    <h5>Budget balance</h5>
                                </div>
                                <div class="col text-right">
                                    <div class="dropdown">
                                        <button id="period-button" class="btn btn-light" type="button"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span id="period-button-content" class="d-none d-sm-block">Period</span>
                                            <span class="d-block d-sm-none"><img src="svg/vert_overflow.svg"></span>
                                        </button>
                                        <div id="period-button-dropdown" class="dropdown-menu"
                                            aria-labelledby="period-button">
                                            <a class="dropdown-item active" href="#">Current Period</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="spent-amount"></div>
                            <div id="days-remain">x day(s) until next period</div>

                            <div id="bar" class="progress mb-1 mt-2">
                                <div id="spent-bar" class="progress-bar" role="progressbar" style="width: 100%"
                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-success" data-toggle="modal" data-target="#add-transaction-modal">
                        Add Transaction
                    </button>
                    <div id="current-transactions">
                        <div class="card mt-3">
                            <div class="card-body">
                                <table class="table table-hover table-borderless transaction-table">
                                    <colgroup>
                                        <col style="width:3cm">
                                        <col style="width:30%">
                                        <col style="width:20%">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th scope="col">Cost</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Date</th>
                                        </tr>
                                    </thead>
                                    <tbody id="current-transactions-entries">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <ul id="current-transactions-list" class="list-group mt-3 pb-3">

                    </ul>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-share" role="tabpanel" aria-labelledby="pills-share-tab">
                <button class="btn btn-success" data-toggle="modal" data-target="#add-user-modal">
                    Add User
                </button>
                <ul id="shared-with-list" class="list-group mt-3"></ul>
            </div>
            <div class="tab-pane fade" id="pills-options" role="tabpanel" aria-labelledby="pills-options-tab">
                <button class="btn btn-danger" data-toggle="modal" data-target="#delete-budget-modal">
                    Delete Budget
                </button>
            </div>
        </div>

    </div>

    <!-- Modals -->

    <!-- Add Transaction Modal -->
    <div class="modal fade" id="add-transaction-modal" tabindex="-1" role="dialog"
        aria-labelledby="add-transaction-modal-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="add-transaction-modal-title">Add Transaction</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="add-transaction-modal-name-input" class="col-form-label">Transaction
                            Name:</label>
                        <input type="text" class="form-control" id="add-transaction-modal-name-input" required>
                    </div>
                    <div class="form-group">
                        <label for="add-transaction-modal-description-input" class="col-form-label">Description:</label>
                        <input type="text" class="form-control" id="add-transaction-modal-description-input">
                    </div>
                    <div class="form-group">
                        <label for="add-transaction-modal-amount-input" class="col-form-label">Amount:</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input type="number" class="form-control" id="add-transaction-modal-amount-input" required>
                        </div>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="add-transaction-modal-recur-check">
                        <label class="form-check-label" for="add-transaction-modal-recur-check">
                            Recurring transcation
                        </label>
                    </div>
                    <div id="add-transaction-modal-recur-inputs" style="display: none">
                        <div class="form-group">
                            <label for="add-transaction-modal-recur-every-input" class="col-form-label">Recur every
                                X
                                days:</label>
                            <input type="number" class="form-control" id="add-transaction-modal-recur-every-input"
                                min="1">
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value=""
                                id="add-transaction-modal-recur-forever-check" checked>
                            <label class="form-check-label" for="add-transaction-modal-recur-forever-check">
                                Recur forever
                            </label>
                        </div>
                        <div id="add-transaction-modal-recur-until-inputs" class="form-group" style="display: none">
                            <label for="add-transaction-modal-recur-until-date" class="col-form-label">Recur
                                Until:</label>
                            <input class="form-control" data-date-format="dd/mm/yyyy"
                                id="add-transaction-modal-recur-until-date" data-date-start-date="1d">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Cancel
                    </button>
                    <button id="add-transaction-modal-add-button" type="button" class="btn btn-primary"
                        data-dismiss="modal">
                        Add
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Add User Modal -->
    <div class="modal fade" id="add-user-modal" tabindex="-1" role="dialog" aria-labelledby="add-user-modal-title"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="add-user-modal-title">Add User to Budget</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="add-user-modal-email-input" class="col-form-label">Email:</label>
                        <input type="email" class="form-control" id="add-user-modal-email-input" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Cancel
                    </button>
                    <button id="add-user-modal-add-button" type="button" class="btn btn-primary" data-dismiss="modal">
                        Add
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Confirmation Modal -->
    <div class="modal fade" id="delete-budget-modal" tabindex="-1" role="dialog"
        aria-labelledby="delete-budget-modal-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="delete-budget-modal-title">Delete Budget</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    This action cannot be undone, are you sure you wish to continue?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Cancel
                    </button>
                    <button id="delete-button" type="button" class="btn btn-danger" data-dismiss="modal">
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script>
        budgetID = /^(\d+).*$/.exec(stateData)[1];

        // Get period ID
        temp = /^(\d+)\-(\d+).*$/.exec(stateData);
        if (temp)
            periodID = temp[2];
        else
            // Get current period after budget has been loaded
            periodID = undefined;

        $('#add-transaction-modal-recur-until-date').datepicker({
            weekStart: 1,
            autoclose: true
        });

        $("#add-transaction-modal-recur-check").change(() => {
            $("#add-transaction-modal-recur-inputs").toggle();
        });

        $("#add-transaction-modal-recur-forever-check").change(() => {
            $("#add-transaction-modal-recur-until-inputs").toggle();
        });

        getBudget(accessToken, budgetID).done((data) => {
            if ((data.status = "Success") && (data.budget)) {
                budget = data.budget;
                $("#title").html(budget.name);

                // Function which is called after the period is loaded
                let foo = (period) => {
                    if (period.period_id == currentPeriod.period_id) {
                        let endDate = new Date(period.end_date);
                        let curDate = new Date();
                        let days = Math.ceil((endDate.getTime() - curDate.getTime()) / 86400000) - 1;
                        $("#period-button-content").html(`<b>Current Period</b>`);
                        $("#days-remain").html(`${days} day(s) until next period`);
                    } else {
                        $("#period-button-content").html(`<b>${localDateString(period.start_date)}</b> to <b>${localDateString(period.end_date)}</b>`);
                        $("#days-remain").html("");
                    }

                    $("#period-button").on("click", () => {
                        $("#period-button-dropdown").html("loading...");
                        getBudgetPeriods(accessToken, budget.budget_id).done((data) => {
                            if (data.status == "Success") {
                                $("#period-button-dropdown").html("");
                                for (let period of data.budget_periods) {
                                    let active = ((period.period_id == periodID)) ? " active" : "";
                                    $("#period-button-dropdown").append(`
                                            <a class="dropdown-item${active}" href="#transactions:${budgetID}-${period.period_id}"><b>${localDateString(period.start_date)}</b> to <b>${localDateString(period.end_date)}</b></a>
                                        `);
                                }
                            }
                        });
                    })

                    // Get amount spent
                    getBudgetSpent(accessToken, budgetID, period.period_id).done((data) => {
                        if (data.status == "Success") {
                            let remaining = Number(budget.spend_limit - data.spent).toFixed(2);

                            let percent = (remaining / budget.spend_limit) * 100.0;

                            setBar($("#spent-bar"), percent);

                            $("#spent-amount").html(`$${remaining} funds remaining`);
                        }
                    });

                    // Get transactions
                    getBudgetTransactionsInPeriod(accessToken, budgetID, periodID).done((data) => {
                        if ((data.status = "Success") && (data.transactions)) {
                            let transactionList = $("#current-transactions-entries");
                            for (let transaction of data.transactions) {
                                let amount_text;
                                let color;
                                if (transaction.amount > 0) {
                                    color = 'red';
                                    amount_text = '- $' + transaction.amount.toFixed(2);
                                } else {
                                    color = 'green';
                                    amount_text = '+ $' + (transaction.amount * -1).toFixed(2);
                                }

                                let date = niceDate(fromSqliteDateTime(transaction.date));

                                let text = `<th class="${color}">${amount_text}</th><th>${transaction.name}</th>
                                    <th>${date}</th>`;

                                transactionList.append(`<tr>${text}</tr>`);
                            }

                        } else {
                            displayToast('transactions-get-fail');
                            location.hash = '#budgets';
                        }
                    });

                    // Get shared with
                    getSharedWith(accessToken, budgetID).done((data) => {
                        if ((data.status = "Success") && (data.users)) {
                            $("#transaction-list").html("");
                            for (let user of data.users) {
                                let text = user;
                                if (user == budget.owner) {
                                    text = text + ' (owner)';
                                } else {
                                    text = text + ` <button class="btn btn-danger ml-3" onclick="removeUser('${user}')">Remove</button>`;
                                }
                                $("#shared-with-list").append(`<li class="list-group-item">${text}</li>`);
                            }

                        } else {
                            displayToast('transactions-get-fail');
                            location.hash = '#budgets';
                        }
                    });

                    // Setup delete button
                    $("#delete-button").on("click", () => {
                        deleteBudget(accessToken, budgetID).done((data) => {
                            if (data.status == "Success") {
                                displayToast("budget-delete-success");
                                gotoView('budgets');
                            } else {
                                displayToast("budget-delete-fail");
                            }
                        });
                    });

                    // Setup add user button
                    $("#add-user-modal-add-button").on("click", () => {
                        addUserToBudget(accessToken, $("#add-user-modal-email-input").val(), budgetID).done((data) => {
                            if (data.status == "Success") {
                                displayToast("add-user-success");
                                reloadView();
                            } else {
                                displayToast("add-user-fail");
                            }
                        });
                    });

                    // Setup add transaction button
                    $("#add-transaction-modal-add-button").on("click", () => {
                        let transactionName = $("#add-transaction-modal-name-input").val();
                        let transactionDescription = $("#add-transaction-modal-description-input").val();
                        let transactionAmount = $("#add-transaction-modal-amount-input").val();

                        let tranasctionRecurDays = null;
                        let transactionRecurUntil = null;

                        if ($("#add-transaction-modal-recur-check").is(":checked")) {
                            tranasctionRecurDays = $("#add-transaction-modal-recur-every-input").val();
                            if (!$("#add-transaction-modal-recur-forever-check").is(":checked")) {
                                transactionRecurUntil = $("#add-transaction-modal-recur-until-date").val();
                            }
                        }

                        addTransactionToBudget(accessToken, budgetID,
                            transactionName, transactionDescription, transactionAmount,
                            tranasctionRecurDays, transactionRecurUntil).done((data) => {
                                if (data.status == "Success") {
                                    displayToast("add-transaction-success");
                                    reloadView();
                                } else {
                                    displayToast("add-transaction-fail");
                                }
                            });
                    });
                };

                // Get current period
                getCurrentBudgetPeriod(accessToken, budget.budget_id).done((data) => {
                    if (data.status == "Success") {
                        currentPeriod = data.budget_period;
                        // Load budget period
                        if (periodID == undefined) {
                            // Use current period
                            period = currentPeriod;
                            periodID = currentPeriod.period_id;
                            foo(period);
                        } else {
                            getBudgetPeriod(accessToken, budget.budget_id, periodID).done((data) => {
                                if (data.status == "Success") {
                                    period = data.budget_period;
                                    foo(period);
                                }
                                else {
                                    displayToast('transactions-get-fail');
                                    location.hash = '#budgets';
                                }
                            });
                        }
                    }
                    else {
                        displayToast('transactions-get-fail');
                        location.hash = '#budgets';
                    }
                });

            } else {
                displayToast('transactions-get-fail');
                location.hash = '#budgets';
            }
        });

        $("#logoutButton").on("click", () => {
            clearAccessTokenCookie();
            gotoView('login');
        });

        function removeUser(email) {
            removeUserFromBudget(accessToken, email, budgetID).done((data) => {
                if (data.status == "Success") {
                    displayToast("remove-user-success");
                    reloadView();
                } else {
                    displayToast("remove-user-fail");
                }
            });
        }
    </script>
</div>